<div class="sidebar">

    <div class="logo">

        <h2>Genius ERP</h2>

    </div>

    <ul>

        <li><a href="dashboard.html">🏠 Dashboard</a></li>

        <li><a href="products.html">📦 Products</a></li>

        <li><a href="customers.html">👥 Customers</a></li>

        <li><a href="suppliers.html">🚚 Suppliers</a></li>

        <li><a href="purchase.html">🛒 Purchases</a></li>

        <li>
    <a href="../pages/payments.html">
        <i class="fa-solid fa-money-bill-transfer"></i>
        <span>Payments</span>
    </a>
</li>

        <li><a href="quotations.html">📄 Quotations</a></li>

        <li><a href="billing.html">🧾 Billing</a></li>

        <li><a href="reports.html">📊 Reports</a></li>

        <li><a href="settings.html">⚙ Settings</a></li>

        <li><a href="#" id="logoutBtn">🚪 Logout</a></li>

    </ul>

</div>
